header{
    background-color: rgba(254, 244, 209, 1);
    max-height: 220px;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    border-bottom: 5px solid #6C0053;
}

body{
    min-height: 100vh;
    margin: 0%;
}

.logo{
    mix-blend-mode: multiply;
    margin-left: 170px;
    margin-top: 50px;
    margin-bottom: 50px;
}

nav li{
    display: inline-block;
    margin: 0;
    padding: 0;
    top: 0;
}

nav ul{
    text-align: center;
    display: flex;
    justify-content: space-around;
}

nav a:hover {
    font-weight: 400;
    font-size: 26px;
  }

  nav li .active{
    font-size: 26px;
    font-weight: 400;
  }

nav a{
    text-decoration: none;
    color: black;
    font-family: "Kulim Park", sans-serif;
    font-size: 22px;
    font-weight: lighter;
    padding: 15px;
    background-color: white;
}

footer{
    background-color: rgba(254, 244, 209, 1);
    font-family: "Kulim Park", sans-serif;
    font-weight: lighter;
    height: 130px;
    text-align: center;
    position: relative;
    border-top: 5px solid #6C0053;
}

.footerlinks a{
    color: black;
    text-decoration: none;
    font-size: 14px;
    padding: 20px;
}

.footerlinks li{
    display: inline-block;
    padding-top: 20px;
}

/* Home */

h1{
    font-family: "Kulim Park", sans-serif;
    font-weight: lighter;
    font-size: 60px;
    color: #6C0053;
    text-align: center;
    letter-spacing: 10px;
    padding-top: 100px;
}

#vrgoggles{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

h2{
    font-family: "Kulim Park", sans-serif;
    font-weight: 300;
    color: #6C0053;
    text-align: center;
    font-size: 26px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fleximg2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    }

#kidplays{
    padding-top: 30px;
    float: right;
    padding-right: 20px;
    max-width: 500px;
}

h3{
    font-family: "Kulim Park", sans-serif;
    font-weight: lighter;
    font-size: 22px;
    line-height: 30px;
    max-width: 450px;
}

.specialevents h1{
    text-align: center;
    margin-top: 100px;
}

#astronaut, #energetica{
    width: 550px;
}

#nightinmuseum{
    width: 550px;
    height: 650px;
    margin-bottom: 150px;
}

.specialevents{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.specialevents h2{
    font-size: 30px;
    color: black;
    letter-spacing: 3px;
    margin-top: 50px;
}

.specialevents p{
    font-size: 18px;
    font-weight: lighter;
    font-family: "Kulim Park", sans-serif;
    width: 250px;
    float: right;
    padding-left: 10px;
    margin-top: 0px;
    letter-spacing: 3px;
}

/* Exhibitions */

.exhibitionspaces{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.exhibitionspaces h2{
    font-size: 30px;
    color: black;
    letter-spacing: 3px;
    margin-top: 50px;
}

.exhibitionspaces p{
    font-size: 18px;
    font-weight: lighter;
    font-family: "Kulim Park", sans-serif;
    max-width: 500px;
    float: right;
    padding-left: 10px;
    margin-top: 0px;
    letter-spacing: 3px;
}

.exhibitionspaces img{
    max-width: 500px;
}

.ecology img{
    margin-bottom: 40px;
}

/* Visit */

.information h2{
    font-size: 22px;
    font-weight: 400;
    color: black;
    margin-right: 170px;
    margin-bottom: -5px;
}

.information p{
    font-family: "Kulim Park", sans-serif;
    float: right;
    max-width: 400px;
    margin-right: 470px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.address{
    margin-right: 50px;
    margin-top: 80px;
}

.address p{
    margin-right: 510px;
}

.food h2{
    margin-right: 175px;
}

.admission h2{
    margin-right: 205px;
}

.access h2{
    margin-right: 190px;
}

.clock h2, .shop h2{
    margin-right: 250px;
}

.clock p{
    margin-right: 680px;
}

.information img{
    margin-left: 380px;
    margin-top: -20px;
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#exhibitionimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contactbutton{
    background-color:#6C0053;
    font-family: "Kulim Park", sans-serif;
    font-weight: lighter;
    letter-spacing: 5px;
    text-decoration: none;
    color: white;
    font-size: 22px;
    padding: 15px 30px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    display: block;
    width: fit-content;
}

 /* Contactform */

.contact-form{
    font-family: "Kulim Park", sans-serif;
    font-size: 24px;
    padding: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    line-height: 50px;
    width: 500px;
    text-align: center;
  }

.contact-form input {
    border-color:#6C0053;
    color: black;
    font-size: 22px;
    padding: 15px 30px;
    font-family: "Kulim Park", sans-serif;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .contact-form #message{
    height: 200px;
  }
  
  .contact-form label, h1{
    font-weight: lighter;
    margin-top: 10px;
  }
  
  .contact-form .btn {
    background-color:#6C0053;
    letter-spacing: 5px;
    color: white;
    font-size: 20px;
    padding: 15px 30px;
    font-family: "Kulim Park", sans-serif;
    margin-left: 10px;
    text-decoration: none;
  }

  /* Feedback */

  #headline, #response{
    text-align: center;
    margin-top: 50px;
    font-family: "Kulim Park", sans-serif;
    color: #6C0053;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    padding-top: 40px;
  }

  #response{
    font-size: 24px;
    font-weight: lighter;
    margin-bottom: 50px;
    margin-top: -30px;
  }
  
  .close_feedback{
    background-color:#6C0053;
    letter-spacing: 5px;
    color: white;
    font-size: 20px;
    padding: 15px 30px;
    font-family: "Kulim Park", sans-serif;
    margin-bottom: 100px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-decoration: none;
  }

/* Privacy Policy & Terms and conditions*/

.privacy h2, .terms h2{
    color: black;
}

.privacy h3, .terms h3{
    color: black;
    font-size: 24px;
    margin-left: 30px;
    font-weight: bold;
    margin-bottom: -15px;
    margin-top: 30px;
}

.privacy p, .terms p{
    font-family: "Kulim Park", sans-serif;
    font-size: 18px;
    margin-left: 30px;
    margin-bottom: 30px;
}

/* Contribution */

.support, .volunteer, .internships{
    max-width: 700px;
    font-family: "Kulim Park", sans-serif;
    margin-bottom: 30px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.support h1, .volunteer h1, .internships h1{
    color: black;
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: -10px;
}

.support p, .volunteer p, .internships p {
    font-size: 19px;
    font-weight: 300;
}

#animatedlabimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 73%;
    margin-top: 70px;
}

.fleximg{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

#microscopeimg{
    width: 38%;
    padding-right: 20px;
}

#giantantimg{
    width: 36%;
}

/* Explore */

#mathimg{
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 25px;
}

#kidreadsimg{
    max-width: 35%;
    padding-right: 25px;
}

#museumimg{
    max-width: 33%;
}

.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.forkids, .forteachers, .forresearchers{
    font-family: "Kulim Park", sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 900px;
}

.forkids h1, .forteachers h1, .forresearchers h1{
    color: black;
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: 500;
}

.forkids p, .forresearchers p, .forteachers p{
    margin-top: -10px;
    font-size: 19px;
    font-weight: 300;
}

#skeletonimg{
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

/* Small devices (mobile phones, less than 600px) */
@media only screen and (max-width: 600px) {
    header{
        max-height: 120px;
        border-color: white;
    }
    
      .logo {
        max-width: 300px;
        margin-left: 30px;
        margin-top: 25px;
      }
    
      nav li {
        margin-top: -30px;
        margin-left: -30px;
      }
    
      nav a {
        font-size: 12px;
        background-color: white;
      }
    
      nav li .active{
        font-size: 12px;
        font-weight: 300;
        background-color: white;
      }
    
      footer{
        padding-bottom: 30px;
        max-height: 120px;
        font-size: 12px;
        margin-top: -10px;
        border-color: white;
      }

      footer li{
        font-size: 12px;
        margin-left: -25px;
      }

      h1{
        margin-top: 60px;
        font-size: 20px;
      }

      h2{
        font-size: 16px;
        font-weight: 400;
        max-width: 360px;
        margin-bottom: -70px;
      }

      h3{
        font-size: 16px;
        line-height: normal;
        max-width: 300px;
        text-align: center;
        padding-top: 70px;
      }

    .specialevents p{
        font-size: 16px;
        width: 300px;
        margin-top: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    .specialevents h2{
        margin: 20px;
        font-size: 20px;
    }

    #astronaut, #energetica, #nightinmuseum{
        max-width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .exhibitionspaces img{
        max-width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .exhibitionspaces p{
        font-size: 16px;
        max-width: 300px;
        margin-top: 10px;
    }

    .exhibitionspaces h2{
        margin: 30px;
        font-size: 20px;
    }

    .ecology p{
        margin-top: -30px;
        margin-bottom: 30px;
    }

      .information{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    
      .information img, #kidplays, #exhibitionimg, #skeletonimg{
        display: none;
      }

      .information h2{
        font-size: 16px;
        font-weight: 600;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      .information p{
        font-size: 14px;
        margin-left: auto;
        margin-right: auto;
        width: 350px;
        text-align: center;
      }

      .address{
        margin-left: 50px;
        margin-top: -5px;
      }

      .contactbutton{
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        font-size: 18px;
        width: fit-content;
        text-align: center;
      }

      .contact-form {
        width: 300px;
        padding: 10px;
      }

      .support h1, .internships h1, .volunteer h1{
        font-size: 16px;
      }

      .support p, .internships p, .volunteer p{
        font-size: 14px;
        max-width: 350px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      .forkids h1, .forresearchers h1, .forteachers h1{
        font-size: 16px;
      }

      .forkids p, .forteachers p, .forresearchers p{
        font-size: 14px;
        line-height: normal;
        width: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      .forresearchers p{
        margin-bottom: 50px;
      }

      .terms h3, .privacy h3{
        font-size: 20px;
        text-align: start;
      }

      .terms p, .privacy p{
        font-size: 16px;
        max-width: 350px;
      }
    }

/* Medium devices (tablets, 600px to 768px) */
@media only screen and (min-width: 600px) and (max-width: 767px){
    nav li .active{
        font-size: 18px;
        font-weight: 300;
      }

      nav a {
        font-size: 18px;
      }

      header{
        max-height: 120px;
      }
    
      .logo {
        max-width: 300px;
        margin-left: 30px;
        margin-top: 25px;
      }

      h1{
        font-size: 30px;
      }

      h2{
        max-width: 500px;
      }

      #kidplays, .information img, #exhibitionimg{
        display: none;
      }

      h3{
        width: 400px;
        text-align: center;
        font-size: 18px;
      }

    .specialevents p{
        display: block;
        width: 450px;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    #astronaut, #energetica, #nightinmuseum{
        width: 450px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .exhibitionspaces img{
        max-width: 500px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

    .exhibitionspaces p{
        font-size: 16px;
        max-width: 500px;
      }

      .ecology p{
        margin-top: -35px;
        margin-bottom: 50px;
      }

      .information{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      .address{
        margin-left: 50px;
        margin-top: -5px;
      }

      .information h2{
        font-size: 18px;
        font-weight: 600;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      .information p{
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
        width: 600px;
        text-align: center;
      }

      .contactbutton{
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        font-size: 18px;
        width: 340px;
        text-align: center;
      }

      .contact-form h1{
        margin-top: 50px;
      }

      .contact-form {
        width: 300px;
        padding: 10px;
      }

      .support, .internships, .volunteer{
        max-width: 600px;
      }

      .support h1, .volunteer h1, .internships h1{
        font-size: 22px;
      }

      .support p, .volunteer p, .internships p{
        font-size: 18px;
      }

      .forkids h1, .forteachers h1, .forresearchers h1{
        font-size: 22px;
      }

      .forkids p, .forteachers p, .forresearchers p{
        font-size: 18px;
        padding-left: 20px;
        padding-right: 20px;
      }

      .terms h3, .privacy h3{
        font-size: 22px;
        text-align: start;
      }

      .terms p, .privacy p{
        font-size: 18px;
      }
    }

/* Tablets iPads (Portrait) */
@media (min-width: 768px) and (max-width: 1024px) {

    #kidplays{
        width: 300px;
    }

    h3{
        width: 280px;
        font-size: 18px;
        margin-top: 45px;
        letter-spacing: normal;
        line-height: normal;
        justify-content: center;
        display: flex;
    }

    .specialevents p, .specialevents h2{
        width: 550px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    .specialevents img{
        width: 450px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    .exhibitionspaces p{
        max-width: 500px;
        font-size: 16px;
}
    .exhibitionspaces img{
        max-width: 500px;
        display: block;
        margin-left: auto;
        margin-right: auto;
}

    .information{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
  }

    .address{
    margin-left: 50px;
    margin-top: -5px;
    margin-left: auto;
    margin-right: auto;
  }

    .information h2{
    font-size: 22px;
    font-weight: 600;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

    .information p{
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
    text-align: center;
    font-weight: lighter;
  }

  .clock p{
    width: 700px;
  }

  .contactbutton{
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 22px;
    width: 500px;
    text-align: center;
  }

    #exhibitionimg, .information img{
     display: none;
  }

  .forkids p, .forteachers p, .forresearchers p{
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .terms h3, .privacy h3{
    font-size: 18px;
    display: inline-block;
  }

  .terms p, .privacy p{
    font-size: 18px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1025px) and (max-width: 1273px){
    h3{
        width: 300px;
        font-size: 20px;
        margin-top: 45px;
    }

    .specialevents p{
        width: 650px;
    }

    #astronaut, #energetica, #nightinmuseum{
        width: 650px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

  .information h2{
        font-size: 24px;
        font-weight: 400;
        color: black;
        width: 385px;
        margin-right: 145px;
        text-align: start;
        padding-top: 10px;
}

    .information p{
        max-width: 380px;
        font-size: 18px;
        margin-right: 150px;
        padding-bottom: 10px;
}

.address h2{
    text-align: center;
    margin-right: 265px;
}

.clock p{
    margin-right: 315px;
    margin-bottom: 30px;
}

.information img{
    margin-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#exhibitionimg{
    width: 50%;
    margin-top: 140px;
    padding-bottom: 50px;
}
}

@media (min-width: 1274px) and (max-width: 1400px){

    .specialevents p{
        width: 750px;
    }

    #astronaut, #energetica, #nightinmuseum{
        width: 750px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    .information h2{
        font-size: 24px;
        font-weight: 400;
        color: black;
        width: 385px;
        margin-right: 145px;
        text-align: start;
        padding-top: 10px;
}
    .information p{
        max-width: 380px;
        font-size: 18px;
        margin-right: 150px;
        padding-bottom: 10px;
}

.address h2{
    text-align: center;
    margin-right: 265px;
}

.clock p{
    margin-right: 315px;
    margin-bottom: 30px;
}

#exhibitionimg{
    width: 50%;
    margin-top: 140px;
    padding-bottom: 50px;
}
}